{% extends "acdata/master.html" %}

{% block content %}
    <div class="dash-boxes container-fluid">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <div class="featurette-body col-md-11 mx-auto">
                    <div class="featurette-text">
                        <p>
                            Some Text going in here Some Text going in here then all of a sudden
                            some more things went toi ueuuron d vcdic cmlmpsaoe chcbyebcncneb
                        </p>
                    </div>
                    <hr class="featurette-divider" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}