{% extends "acdata/master.html" %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <div class="featurette-body col-md-11 mx-auto">
                <div class="featurette-text">
                    The list builder is used to generate bespoke lists of UK business for the purpose of telemarketing
                    or email marketing, select your list type and then use the filtering system, you can build a targeted

                </div>
                <hr class="featurette-divider" />
            </div>
        </div>
    </div>
</div>
{% endblock %}