{% extends "acdata/master.html" %}

{% block content %}
    <div class="dash-boxes container-fluid">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <div class="featurette-body col-md-11 mx-auto">
                    <div class="featurette-text">
                        <p>
                            Here you can see the available features which your current membership
                            provides. Select an option from below. Addiontal services are available
                            please contact support
                        </p>
                    </div>
                    <hr class="featurette-divider" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}